.about {
  margin-top: 175px;
  color: var(--text-color);
  position: relative;
}

.about__title {
  font-family: var(--secondary-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.about__shadow {
  position: absolute;
  max-width: 250px;
  max-height: 20px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: var(--accent-secondary-color);
  filter: blur(0.6rem);
  top: 35px;
  z-index: -1;
}

.about__info {
  padding-top: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.about__item {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about__detail {
  border: 1px var(--main-bg);
  border-radius: 16px;
  padding: 35px 115px 35px 80px;
  box-shadow: 3px 3px 8px var(--accent-secondary-color);
  white-space: nowrap;
}

.about__text {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.about__text-secondary {
  color: var(--accent-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.about__img {
  max-width: 474px;
  max-height: 352px;
  border-radius: 16px;
  box-shadow: 3px 3px 8px var(--accent-secondary-color);
}

.about__img-tablet {
  display: none;
}

@media (max-width: 1560px) {
  .about__detail {
    padding: 35px 105px 35px 70px;
  }
}

@media (max-width: 1495px) {
  .about__detail {
    padding: 35px 83px 35px 70px;
  }
}

@media (max-width: 1400px) {
  .about__detail {
    padding: 35px 43px 35px 40px;
  }
}

@media (max-width: 1300px) {
  .about__item {
    gap: 10px;
  }
  .about__detail {
    padding: 35px 23px 35px 20px;
  }
  .about__img {
    max-width: 424px;
  }
}

@media (max-width: 1165px) {
  .about__info {
    gap: 16px;
  }
  .about__detail {
    padding: 25px 13px 25px 15px;
  }
  .about__img {
    max-width: 374px;
  }
}

@media (max-width: 1090px) {
  .about__detail {
    padding: 15px 15px 20px 15px;
  }
  .about__img {
    max-width: 334px;
  }
}

@media (max-width: 1024px) {
  .about__info {
    flex-direction: column;
    padding-top: 60px;
    gap: 40px;
  }
  .about__item {
    gap: 40px;
  }
  .about__detail {
    width: 708px;
    padding: 56px 220px 56px 245px;
  }
  .about__img {
    display: none;
  }
  .about__img-tablet {
    display: flex;
    max-width: 708px;
    max-height: 525px;
    border-radius: 24px;
    box-shadow: 3px 3px 8px var(--accent-secondary-color);
  }
}

@media (max-width: 766px) {
  .about__detail {
    width: 600px;
    padding: 56px 280px 56px 160px;
  }
  .about__img-tablet {
    max-width: 600px;
  }
}

@media (max-width: 658px) {
  .about__detail {
    width: 500px;
    padding: 56px 120px 56px 120px;
  }
  .about__img-tablet {
    max-width: 500px;
  }
}

@media (max-width: 576px) {
  .about {
    margin-top: 40px;
  }
  .about__title {
    font-size: 24px;
  }
  .about__info {
    padding-top: 20px;
  }
  .about__item {
    gap: 30px;
  }
  .about__detail {
    width: 380px;
    padding: 25px 120px 30px 60px;
  }
  .about__text {
    white-space: normal;
  }
  .about__text-secondary {
    font-size: 32px;
  }
  .about__img-tablet {
    max-width: 380px;
    max-height: 282px;
  }
}

@media (max-width: 435px) {
  .about__title {
    font-size: 18px;
  }
  .about__detail {
    width: 330px;
    padding: 25px 80px 30px 80px;
  }
  .about__img-tablet {
    max-width: 330px;
  }
}

@media (max-width: 380px) {
  .about__title {
    font-size: 16px;
  }
  .about__detail {
    width: 280px;
    padding: 25px 20px 30px 50px;
  }
  .about__img-tablet {
    max-width: 280px;
  }
}
