.footer {
  margin-top: 140px;
}

.footer__content {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font);
  color: var(--text-color);
  letter-spacing: 1px;
}

.footer__link {
  padding-top: 30px;
  text-decoration: underline;
}

.footer__info {
  padding: 28px 0 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  font-size: 14px;
  line-height: 36px;
}

.footer__item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer__logotype {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .footer {
    margin-top: 80px;
  }
  .footer__info {
    padding: 50px 0 118px;
    flex-direction: column;
    gap: 38px;
  }
  .footer__info .footer__text:first-child {
    margin-right: auto;
    text-align: left;
  }
}

@media (max-width: 576px) {
  .footer {
    margin-top: 50px;
  }
  .footer__content {
    padding-top: 24px;
  }
  .footer__link {
    padding-top: 14px;
  }
  .footer__info {
    padding: 38px 0 146px;
    flex-direction: column;
    gap: 50px;
  }
}
