.hero .container {
  padding: 0;
}

.hero__name-tablet {
  display: none;
  font-family: var(--secondary-font);
}

.hero .swiper {
  padding-right: 10vw;
  padding-left: 14vw;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  padding: 110px 0 90px;
}

.hero__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero__info {
  display: flex;
  flex-direction: column;
}

.hero__name {
  font-family: var(--secondary-font);
  font-size: 34px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 10px;
  color: var(--accent-secondary-color);
  padding-bottom: 40px;
}

.hero__title {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 4px;
  color: var(--accent-color);
  padding-bottom: 40px;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 48px;
}

.hero__item {
  display: flex;
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.hero__paragraph {
  white-space: nowrap;
}

.hero__paragraph-mobile {
  display: none;
}

.hero__img {
  padding-right: 6px;
}

.hero__btn {
  width: fit-content;
  font-family: var(--secondary-font);
  background-color: var(--accent-color);
  border: 1px var(--accent-color);
  color: var(--text-color);
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 20px 32px;
  box-shadow: inset 1px 1px 10px #1b1b1b8a;
  transition: 0.3s ease;
}

.hero__btn:hover {
  border: 1px var(--accent-color);
  background: var(--accent-color);
  box-shadow: none;
}

.hero__btn:active {
  border: 1px var(--link-color);
  background: var(--link-color);
}

.hero__swiper {
  position: relative;
  padding-left: 3vw;
  padding-right: 3vw;
}

.hero__swiper .swiper {
  padding-bottom: 50px;
}

.hero__swiper-info {
  text-align: center;
}

.hero-slide-img {
  border-radius: 16px;
  width: 100%;
  position: relative;
}

.hero .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.hero .swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 100%;
  left: auto;
  right: 0;
  bottom: 0;
}

.hero .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: var(--text-color);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hero .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--accent-secondary-color);
}

.hero__shadow {
  position: absolute;
  max-width: 132px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  top: 0;
  filter: blur(2.7rem);
  transform: rotate(-2deg);
  z-index: -1;
}

.shadow__blue {
  background-color: var(--accent-secondary-color);
  left: 2vw;
}

.shadow__red {
  background-color: var(--accent-color);
  right: 2vw;
}

.hero__content-mobile {
  display: none;
}

.hero .swiper-button-prev,
.hero .swiper-button-next {
  color: var(--text-color);
  width: 22px;
  height: 38px;
}

.hero .swiper-button-prev {
  left: 17vh;
}

.hero .swiper-button-next {
  right: 17vh;
}

@media (max-width: 1770px) {
  .hero .swiper {
    padding-left: 10vw;
  }
  .hero .swiper-button-prev {
    left: 10vh;
  }
}

@media (max-width: 1600px) {
  .hero .swiper {
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .hero .swiper-button-prev {
    left: 3vh;
  }
  .hero .swiper-button-next {
    right: 7vh;
  }
}

@media (max-width: 1390px) {
  .hero__shadow {
    top: -20px;
  }
}

@media (max-width: 1300px) {
  .hero__shadow {
    top: -30px;
  }
}

@media (max-width: 1200px) {
  .hero__name {
    font-size: 30px;
  }
  .hero__shadow {
    max-width: 70px;
    height: 90%;
    filter: blur(1.7rem);
  }
  .hero .swiper-button-prev {
    left: 2vh;
  }
  .hero .swiper-button-next {
    right: 4vh;
  }
}

@media (max-width: 1100px) {
  .hero .swiper {
    padding-right: 0;
  }
  .hero__shadow {
    height: 90%;
  }
  .hero .swiper-button-prev,
  .hero .swiper-button-next {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hero {
    margin-top: 45px;
  }
  .swiper-slide {
    padding: 40px 0;
  }
  .hero__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hero__name-tablet {
    display: flex;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 10px;
    color: var(--accent-secondary-color);
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .hero__name {
    display: none;
  }
  .hero__shadow {
    top: 0;
    height: 100%;
    max-width: 70px;
    filter: blur(1.7rem);
  }
}

@media (max-width: 735px) {
  .hero__paragraph {
    display: none;
  }
  .hero__paragraph-mobile {
    display: flex;
  }
}

@media (max-width: 675px) {
  .hero__shadow {
    height: 75%;
  }
}

@media (max-width: 600px) {
  .hero {
    margin-top: 35px;
  }
  .hero__name-tablet {
    font-size: 24px;
    padding-bottom: 0;
  }
  .hero .swiper {
    padding-right: 5vw;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__info {
    padding-top: 64px;
    order: 1;
  }
  .hero__title {
    padding-bottom: 24px;
  }
  .hero__btn {
    font-size: 16px;
  }
  .hero__shadow {
    top: 0;
    max-height: 100%;
  }
}
