.hero {
  margin-top: 110px;
}

.hero__name-tablet {
  display: none;
}

.hero__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.hero__info {
  display: flex;
  flex-direction: column;
}

.hero__name {
  font-family: var(--secondary-font);
  font-size: 34px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 10px;
  color: var(--accent-secondary-color);
  padding-bottom: 40px;
}

.hero__title {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 4px;
  color: var(--accent-color);
  padding-bottom: 40px;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 48px;
}

.hero__item {
  display: flex;
  font-family: var(--main-font);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}

.hero__paragraph {
  white-space: nowrap;
}

.hero__paragraph-mobile {
  display: none;
}

.hero__img {
  padding-right: 6px;
}

.hero__btn {
  width: fit-content;
  font-family: var(--secondary-font);
  background-color: var(--accent-color);
  border: 1px var(--accent-color);
  color: var(--text-color);
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 20px 32px;
  box-shadow: inset 1px 1px 10px #1b1b1b8a;
  transition: 0.3s ease;
}

.hero__btn:hover {
  border: 1px var(--accent-color);
  background: var(--accent-color);
  box-shadow: none;
}

.hero__btn:active {
  border: 1px var(--link-color);
  background: var(--link-color);
}

.hero__swiper {
  max-width: 530px;
  position: relative;
}

.hero__swiper .swiper {
  padding-bottom: 50px;
}

.hero__swiper-info {
  text-align: center;
}

.hero-slide-img {
  border-radius: 16px;
  width: 100%;
}

.hero .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.hero .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: var(--text-color);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hero .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--accent-secondary-color);
}

.hero__shadow {
  position: absolute;
  max-width: 132px;
  max-height: 540px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  top: 20px;
  filter: blur(2.7rem);
  transform: rotate(-2deg);
}

.shadow__blue {
  background-color: var(--accent-secondary-color);
  left: -35px;
}

.shadow__red {
  background-color: var(--accent-color);
  right: -35px;
}

.hero__content-mobile {
  display: none;
}

@media (max-width: 1380px) {
  .hero__content {
    gap: 10px;
  }
}

@media (max-width: 1200px) {
  .hero__name {
    font-size: 30px;
  }
  .hero-slide-img {
    max-width: 400px;
    max-height: 430px;
  }
  .hero__shadow {
    max-width: 70px;
    max-height: 400px;
    filter: blur(1.7rem);
  }
  .shadow__blue {
    left: 45px;
  }
  .shadow__red {
    right: 45px;
  }
}

@media (max-width: 1024px) {
  .hero {
    margin-top: 45px;
  }
  .hero__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hero__name-tablet {
    display: flex;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 10px;
    color: var(--accent-secondary-color);
    padding-bottom: 40px;
  }
  .hero__name {
    display: none;
  }
  .hero-slide-img {
    max-width: 280px;
    max-height: 310px;
  }
  .hero__shadow {
    max-width: 70px;
    max-height: 270px;
    filter: blur(1.7rem);
  }
  .shadow__blue {
    left: 110px;
  }
  .shadow__red {
    right: 110px;
  }
}

@media (max-width: 940px) {
  .hero__swiper {
    max-width: 400px;
  }
  .shadow__blue {
    left: 40px;
  }
  .shadow__red {
    right: 40px;
  }
}

@media (max-width: 810px) {
  .hero__swiper {
    max-width: 350px;
  }
  .shadow__blue {
    left: 25px;
  }
  .shadow__red {
    right: 25px;
  }
}

@media (max-width: 765px) {
  .hero__content {
    gap: 35px;
  }
  .hero__swiper {
    max-width: 280px;
  }
  .shadow__blue {
    left: -20px;
  }
  .shadow__red {
    right: -20px;
  }
}

@media (max-width: 735px) {
  .hero__content {
    gap: 20px;
  }
  .shadow__blue {
    left: -10px;
  }
  .shadow__red {
    right: -10px;
  }
  .hero__paragraph {
    display: none;
  }
  .hero__paragraph-mobile {
    display: flex;
  }
}

@media (max-width: 660px) {
  .hero__content {
    gap: 0;
  }
}

@media (max-width: 640px) {
  .hero {
    margin-top: 35px;
  }
  .hero__name-tablet {
    font-size: 24px;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .hero__info {
    order: 1;
  }
  .hero__title {
    padding-bottom: 24px;
  }
  .hero__btn {
    font-size: 16px;
  }
}
