.reviews {
  margin-top: 318px;
  color: var(--text-color);
  position: relative;
}

.reviews__content {
  padding-top: 94px;
  overflow: clip visible;
  padding-right: 8px;
}

.reviews-swiper {
  width: 100%;
}

.reviews__item {
  width: fit-content;
  font-family: var(--main-font);
  background-color: var(--text-color);
  border: 1px var(--text-color);
  color: var(--main-bg);
  font-size: 20px;
  font-weight: 400;
  border-radius: 16px;
  padding: 40px 46px;
  box-shadow: 2px 2px 8px var(--accent-secondary-color);
}

.reviews__grade {
  display: flex;
  gap: 12px;
}

.reviews__text {
  padding-top: 36px;
}

.swiper-pagination {
  display: none;
}

@media (max-width: 1024px) {
  .reviews {
    margin-top: 80px;
  }
  .reviews__content {
    padding-top: 70px;
  }
  .reviews__slide {
    margin-bottom: 50px;
  }
  .main .swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
  .main .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: var(--text-color);
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .main .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--accent-secondary-color);
  }
}

@media (max-width: 576px) {
  .reviews {
    margin-top: 40px;
  }
  .reviews__content {
    padding-top: 20px;
  }
  .reviews__text {
    font-size: 16px;
  }
}
