.tabs__2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tabs-2 {
  max-width: 390px;
}

.tabs__2 [class^="tab-btn-"] {
  padding: 10px 60px;
}

.tabs__3 [class^="tab-btn-"] {
  padding: 10px 30px;
}

.tab__contents-paragraph-2 {
  font-style: italic;
}
